html,
body {
  margin: 0px;
  height: 100%;
}
.privacy-container {
  background-color: black;
  color: aliceblue;
  width: 100%;
  padding: 20px 40px;

  h1 {
    color: var(--foundation-blue-new-blue-new-50, #e7eaf2);
    text-align: center;
    font-family: "Lato";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h2,
  h3 {
    font-family: "Lato", sans-serif;
    font-style: normal;
  }
  a {
    text-decoration: none;
  }
  p {
    color: var(--foundation-blue-new-blue-new-100, #b4bfd6);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 27.2px */
  }

  li {
    color: var(--foundation-blue-new-blue-new-100, #b4bfd6);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
